.tags
  font-size: 20px
  font-weight: 500
  color: #666666
  padding: 10px

  .tag
    display: block
    font-size: 18px
    font-weight: 400
    color: #666666
    margin: 5px 0 0 15px
    text-decoration: none
    cursor: pointer
    transition: color 0.2s linear

    &:hover
      color: darken(#666666, 40%)