main
  width: 100%
  display: flex
  justify-content: space-between

  .left
    width: 80%
    min-width: 300px
    margin-right: 40px

  .right
    width: 20%
    min-width: 200px
    max-height: 224px
    border-radius: 10px
    background-color: #f0f0f3
    box-shadow: 10px 10px 21px #d3d3d6, -10px -10px 21px #fff